* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5eded;
  padding: 15px 10px;
  position: sticky;
  top: 0;
}

.logo p {
  font-size: 35px;
  font-weight: 600;
}

.themes {
  position: relative;
  background-color: green;
  width: 70px;
  height: 25px;
  border-radius: 20px;
}

.themes .circle {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: black;
  display: block;
  border-radius: 50%;
  left: 1px;
  top: 0.5px;
  opacity: 0.3;
}

.themes i {
  position: absolute;
  /* font-size: 20px; */
}

.light {
  color: #f5eded;
  top: 5px;
  font-size: 16px;
  left: 5px;
}

.dark {
  color: black;
  right: 5px;
  top: 5px;
  font-size: 18px;
}

/* container style */
.container {
  max-width: 600px;
  min-height: 400px;
  position: relative;
  background-color: #f5eded;
  margin: 0px auto;
  top: 70px;
  border-radius: 15px;
  padding: 15px;
  overflow: hidden;
}

form {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px 20px;
  height: 100%;
}

form div {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0px 30px;
  width: 250px;
  height: 30px;
  @media (max-width: 550px) {
    flex-wrap: wrap;
    width: 90%;
  }
}
input {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 0px 10px;
  text-transform: capitalize;
}

label {
  position: absolute;
  z-index: 10;
  padding: 0px 5px;
  color: #1e201e;
}

.confirm {
  width: 100%;
  display: flex;
  gap: 0px 15px;
  justify-content: center;
  @media (max-width: 548px) {
    gap: 15px;
    margin-bottom: 20px;
  }
}

.btn {
  font-weight: 600;
  text-transform: capitalize;
  width: 250px;
  background-color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: #1e201e;
  transition: 0.5s;
  color: #f5eded;
}

.options {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  position: relative;
  z-index: 1;
}
.options::before {
  position: absolute;
  content: ' ';
  width: 100vw;
  height: 1px;
  background-color: #1e201e;
  top: 13px;
  z-index: -1;
}

.options p {
  position: absolute;
  font-size: 20px;
  z-index: 10;
  padding: 0px 10px;
  z-index: 2;
  background-color: #f5eded;
  border-radius: 15px;
}
.sign_in {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px 0px;
}

.sign_in p {
  font-size: 30px;
}
.links {
  display: flex;
  gap: 0px 20px;
}
.sign_in .links a {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: white;
}

.sign_in .links i {
  font-size: 20px;
  color: black;
  opacity: 0.7;
}

.sign_in .links i:hover {
  color: #1e201e;
  transform: translateY(-4px);
  transition: 0.3s;
  opacity: 1;
}

/* ******************************* */

/* speacial classes */
.nav_style {
  background-color: #1e201e;
}

.body_style {
  background-color: #3c3d37;
}

.container_style {
  border: 2px solid #ecdfcc;
  background-color: #3c3d37;
}

.nav_text_color {
  color: #ecdfcc;
}

.label_style {
  display: inline-block;
  transform: translateY(-25px);
  transition: 0.5s;
  color: #6482ad;
}

.option_style {
  background-color: #3c3d37;
  color: #ecdfcc;
}

.input_focus {
  outline: 3px solid #1e201e;
}

.border_color {
  border: solid 3px red;
}
.correct {
  position: absolute;
  right: 10px;
  display: none;
  color: green;
}

.correct_email {
  position: absolute;
  right: 10px;
  display: none;
  color: green;
}

.correctPass {
  position: absolute;
  right: 10px;
  display: none;
  color: green;
}

.toggle_style {
  transform: translateX(45px);
  transition: 0.5s;
}
